*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Plus Jakarta Sans', sans-serif;
}

body{
    background:#f7f7f7;
}

.hero{
    min-height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:220px 20px 80px;
}

.hero-content{
    max-width:900px;
    margin:auto;
}

.hero h1{
    font-size:clamp(40px,6vw,72px);
    font-weight:800;
    line-height:1.1;
    margin-bottom:20px;
        color:#111;

}

.hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    color:#555;
}

.portfolio{
    max-width:1400px;
    margin:auto;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:30px;
}

.flyer-card{
    overflow:hidden;
    border-radius:20px;
    background:white;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.flyer-card:hover{
    transform:translateY(-10px);
}

.flyer-card img{
    width:100%;
    display:block;
    transition:.4s ease;
}

.flyer-card:hover img{
    transform:scale(1.03);
}

.category-title{
    text-align:center;
     margin:60px auto 40px;
    max-width:900px;
    padding:0 20px;
    position:relative;
}

.category-title::after{
    content:"";
    display:block;
    width:80px;
    height:4px;
    background:#d9ad26;
    margin:20px auto 0;
    border-radius:999px;
}

.category-title h2{
    font-size:clamp(2.5rem,4vw,4rem);
    font-weight:800;
    letter-spacing:-2px;
    color:#1d1d1d;
    margin-bottom:12px;
}

.category-title p{
    color:#666;
    font-size:18px;
}

.swiper{
    width:90%;
    max-width:1400px;
    margin:auto;
    position:relative;

    padding-left:60px;
    padding-right:60px;
    padding-bottom:120px;
}

.swiper-slide{
    border-radius:20px;
    overflow:hidden;
    transition:.3s ease;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.swiper-slide:hover{
    transform:translateY(-12px);
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

.swiper-slide img{
    width:100%;
    display:block;
    transition:.4s ease;
}

.swiper-slide:hover img{
    transform:scale(1.03);
}

.swiper-button-next,
.swiper-button-prev{
    background:#d9ad26;
    color:#111 !important;
    width:55px;
    height:55px;
    border-radius:50%;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    cursor:pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size:22px !important;
    font-weight:900;
}
.mortgageSwiper{
    margin-bottom:120px;
}

@media (max-width: 768px){

    .hero{
        padding:180px 20px 50px;
    }

    .hero h1{
        font-size:36px;
    }

    .hero p{
        font-size:16px;
    }

    .portfolio{
        grid-template-columns:1fr;
        gap:20px;
    }

    .flyer-card{
        border-radius:15px;
    }
}