*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Plus Jakarta Sans', sans-serif;
}

html,
body{
    overflow-x:hidden;
}

.footer{
    width:100%;
    margin:0;
    padding-left:0;
    padding-right:0;
}

body{
    background:#f7f7f7;
}

.hero{
    position:relative;
    overflow:hidden;
    text-align:center;
    padding:220px 20px 120px;
    min-height:90vh;

    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-video{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:cover;
    z-index:1;
}

.hero-overlay{
    position:absolute;
    inset:0;

    background:rgba(238,246,242,.45);

    z-index:2;
}

.hero-content{
    position:relative;
    z-index:3;
    max-width:1000px;
    margin:auto;
}

.hero-badge{
    display:inline-block;
    padding:10px 18px;
    border-radius:999px;
    background:#dff3df;
    color:#0d5132;
    font-size:13px;
    font-weight:600;
    margin-bottom:30px;
}

.hero h1{
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size:clamp(60px,7vw,88px);
    font-weight:800;
    line-height:0.95;
    color:#05291f;
    text-shadow:
    0 2px 8px rgba(255,255,255,.35);
    letter-spacing:-3px;
    margin-bottom:25px;
}

.hero h1 span{
    font-family:'Plus Jakarta Sans', sans-serif;
    color:#06251c;
}

.hero p{
    max-width:800px;
    margin:auto;
    font-size:18px;
    color:#000000;
    font-weight:500;
    line-height:1.8;
}


.swiper{
    width:90%;
    max-width:1400px;
    margin:auto;
    position:relative;

    padding-left:60px;
    padding-right:60px;
    padding-bottom:120px;
}

.swiper-slide{
    border-radius:22px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
    transition:.35s;
    background:#fff;
}

.swiper-slide:hover{
    transform:translateY(-12px);
    box-shadow:0 25px 50px rgba(0,0,0,.15);
}


.swiper-slide img{
    width:100%;
    display:block;
    transition:.4s;
}

.swiper-slide:hover img{
    transform:scale(1.04);
}

.swiper-button-next,
.swiper-button-prev{
    background:#d9ad26;
    color:#111 !important;
    width:55px;
    height:55px;
    border-radius:50%;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    cursor:pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size:22px !important;
    font-weight:900;
}
.mortgageSwiper{
    margin-bottom:120px;
}

.flyer-section{
    max-width:1400px;
    margin:100px auto;
    padding:0 20px;
}

.section-heading{
    border-left:5px solid #d9ad26;
    padding-left:20px;
    margin-bottom:50px;
}

.section-heading h2{
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size:56px;
    color:#05291f;
    margin-bottom:10px;
}

.section-heading p{
    color:#667085;
    max-width:700px;
}


.flyer-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.35s;
}

.flyer-card:hover{
    transform:translateY(-10px);
}

.flyer-card img{
    width:100%;
    display:block;
}

.flyer-info{
    padding:25px;
}

.flyer-info span{
    display:block;
    font-size:12px;
    font-weight:700;
    letter-spacing:1px;
    color:#8f8f8f;
    margin-bottom:12px;
}

.flyer-info h3{
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size:36px;
    color:#05291f;
    margin-bottom:15px;
    line-height:1.2;
    min-height:90px;
}

.flyer-info p{
    color:#667085;
    line-height:1.7;
    min-height:80px;
}

@media(max-width:991px){

    .section-heading h2{
        font-size:42px;
    }

    .flyer-info h3{
        font-size:28px;
    }
}

@media (max-width:768px){

    .hero{
        padding:180px 20px 80px;
    }

    .hero h1{
        font-size:48px;
    }

    .hero p{
        font-size:16px;
    }

    .swiper{
        padding-left:20px;
        padding-right:20px;
        padding-bottom:80px;
    }

    .section-heading h2{
        font-size:38px;
    }

    .flyer-info h3{
        min-height:auto;
        font-size:26px;
    }

    .flyer-info p{
        min-height:auto;
    }
}